app = "sc2fi-irc-discord-bridge"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  CACHE_LIMIT = '512MB'
  DATA_DIR = './data'

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [[services.ports]]
    port = 3000
    processes = [ "app" ]
    protocol = "tcp"
